.eero {
  background-image: url(../images/eero.jpg);
  width: 1440px;
  height: 100%;
  padding-top: 580px;
  // padding-left: 173px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}
.eero__box {
}
.eero__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.eero__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 185px;
  // flex-basis: calc(100% / 2);
}
.eero__item {
  display: inline;
}
.eero__block-first {
  margin-right: 240px;
}
.eero__block-second {
}
.eero__wi-fi-6 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  margin-bottom: 16px;
  width: 81px;
  background: #ffffff;
  border-radius: 18px;
  text-align: center;
}
.eero__version {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  display: flex;
  margin-bottom: 13px;
}
.eero__exp {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  display: flex;
  margin-bottom: 20px;
}
.eero__about {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  margin-bottom: 20px;
}
.eero__price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  margin-bottom: 36px;
}
.eero__price > span {
  font-weight: bold;
}
.eero__link--shop-now {
  display: block;
  width: 220px;
  height: 52px;
  color: #ffffff;
  background-color: #2468ff;
  text-align: center;
  padding-top: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #ffffff;
}
.eero__link-compare {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 154px;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: inline-block;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    border-radius: 2px;
  }
}
