.experts{
    width: 100%;
    padding-top: 117px;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experts-title{
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    color: #404040;
}

.experts__after-title{
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #404040;
}

.experts__btn{
    display: block;
    align-items: center;
    width: 220px;
    height: 52px;
    background: #2468FF;
    border-radius: 0px;

    font-weight: 700;
    font-size: 13px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.experts__list{
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.experts__btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.experts__item-title{
    font-size: 18px;
    line-height: 1.4;
    color: #404040;
}
