.great-wifi__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 123px;
}
.great-wifi__menu {
  display: flex;
  margin-bottom: 34px;
}
.great-wifi__item:not(:last-child) {
  margin-right: 30px;
}
.great-wifi__container {
  display: flex;
}
.great-wifi__wrap {
  padding-left: 90px;
  padding-right: 88px;
}
.great-wifi__benefit {
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 1.44;
  color: #404040;
}
.button-shop {
  min-width: 243px;
  min-height: 52px;
  border-radius: 0px;
  cursor: pointer;
  padding: 18px 37px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  background-color: #2468ff;
}
.great-wifi__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 2px solid #dedede;

  color: #999999;
}
.great-wifi__link.active {
  color: #2468ff;
  border-bottom: 2px solid #2468ff;
}
.great-wifi__text {
  font-size: 18px;
  line-height: 25px;

  color: #646565;
}
.great-wifi__text--bottom {
  margin-bottom: 30px;
}
.great-wifi__image {
  min-width: 720px;
  height: 488px;
}
