@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
header {
  background-color: aqua;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}

.header-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.10998px;
  color: #ffffff;
  background: #161f49;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.10998px;
  color: #404040;
}

.header-shop {
  width: 166px;
  height: 88px;
  background: #2468ff;
  border-radius: 0px;
}

.hero {
  background-color: lightblue;
}

.hero {
  padding: auto;
}

.container {
  width: 1265px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  display: block;
  outline: none;
}

.explore__link {
  margin-bottom: 28px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 0;
}

.pointer {
  cursor: pointer;
}

.explore__pre-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #404040;
  margin-bottom: 21px;
}

.explore__shop {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #404040;
  text-decoration: underline;
  margin-bottom: 120px;
}

.explore__title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
  margin-bottom: 44px;
}

.explore__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #404040;
  margin-bottom: 78px;
}

.explore__button {
  display: block;
  min-width: 244px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2468ff;
  border: 1px solid transparent;
}

.eero-system {
  background-color: palevioletred;
}

.qote-section {
  padding: 200px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #404040;
}

.qote-section__title {
  margin: 0;
  padding: 0;
  line-height: 0;
  color: transparent;
}

.qote-section__text {
  margin-bottom: 50px;
  max-width: 840px;
  text-align: center;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  color: #ffffff;
}

.wifi-potential-section {
  background-color: #6969f8;
}

.conecthome-section {
  background-color: #c4106a;
}

.covers-section {
  background-color: #f0d24e;
}

.benefits-section {
  background-color: #0cbd88;
}

.experts {
  width: 100%;
  padding-top: 117px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experts-title {
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #404040;
}

.experts__after-title {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #404040;
}

.experts__btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 52px;
  background: #2468FF;
  border-radius: 0px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.experts__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experts__btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.experts__item-title {
  font-size: 18px;
  line-height: 1.4;
  color: #404040;
}

.great-wifi__title {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 123px;
}

.great-wifi__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
  list-style: none;
}

.great-wifi__item {
  margin-right: 30px;
}

.great-wifi__item:last-child {
  margin-right: 0;
}

.great-wifi__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.great-wifi__wrap {
  padding-left: 90px;
  padding-right: 90px;
}

.great-wifi__benefit {
  margin-bottom: 28px;
}

.button-shop {
  min-width: 243px;
  min-height: 52px;
  border-radius: 0px;
  cursor: pointer;
  padding: 18px 37px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2468ff;
}

.great-wifi__link {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.great-wifi__link::after {
  position: absolute;
  content: '';
  margin-top: 0;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #dedede;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */