:root {
  --brand-color: #2468ff;
  --text-color: #404040;
  --alternative-text-color: #ffffff;
  --not-active-text-color: #4040404d;
  --not-active-color: #999999;
  --icon-hover-color: #000000;
  --primary-background: #ffffff;
  --secondary-background: #808080;
  --dark-background: #161f49;
  --body-background: #e5e5e5;
}
