<section class="benefits-section">
    <h2>Never worry about wifi again.</h2>
    <ul>
        <li>
            <h3>Fast and easy setup</h3>
            <p>Unbox your eero devices, download the app, and start surfing the web in minutes. The eero app makes it
                easy to set up
                and manage wifi for everyone at home.</p>
            <a href="">CHECK OUT THE APP</a>
        </li>
        <li>
            <h3>Advanced network protection</h3>
            <p>Every eero comes with world-class encryption and security protocols. Add on eero Secure to get even more
                protection with
                parental controls, ad blocking, and more.</p>
            <a href="">GET EERO SECURE</a>
        </li>
        <li>
            <h3>Always getting better</h3>
            <p>eero automatically updates to bring you security patches, improved performance, and new features.</p>
            <a href="">READ ABOUT EERO UPDATES</a>
        </li>
    </ul>
</section>