<section class="eero section">
    <div class="container eero__box">
        <h2 class="eero__title">eero systems</h2>
        <ul class="eero__list">
            <li class="eero__item eero__block-first">
                <span class="eero__wi-fi-6">wi-fi 6</span>
                <p class="eero__version">eero Pro 6</p>
                <h3 class="eero__exp">The fastest </br> eero yet.</h3>
                <p class="eero__about">Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections.</p>
                <p class="eero__price"> Starting at &nbsp<span>$229</span></p>
                <a href="" class="eero__link--shop-now">Shop now</a>
            </li>
            <li class="eero__item eero__block-second">
                <span class="eero__wi-fi-6">wi-fi 6</span>
                <p class="eero__version">eero 6</p>
                <h3 class="eero__exp">Experience Wi-Fi 6—the new standard for home wifi.</h3>
                <p class="eero__about">Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet connections.</p>
                <p class="eero__price"> Starting at &nbsp<span>$129</span></p>
                <a href="" class="eero__link--shop-now">Shop now</a>
            </li>
        </ul>
        <a href="" class="eero__link-compare">Compare All Models</a>
    </div>
</section>