<section class="eero-system">
    <h2 class="eero-title" >eero systems</h2>
    <ul class="eero-list" >
        <li class="eero-list-item eero-block-first" >
            <span class="wi-fi-6" >wi-fi 6</span>
            <p class="eero-version" >eero Pro 6</p>
            <h3 class="eero-exp">The fastest eero yet.</h3>
            <p class="eero-about" >Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections.</p>
            <p class="eero-price" > Starting at<span>$229</span></p>
            <a href="" class="link-shop-now" >Shop now</a>
        </li>
        <li class="eero-list-item eero-block-second">
            <span class="wi-fi-6" >wi-fi 6</span>
            <p class="eero-version" >eero 6</p>
            <h3 class="eero-exp" >Experience Wi-Fi 6—the new standard for home wifi.</h3>
            <p class="eero-about" >Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet connections.</p>
            <p class="eero-price" > Starting at<span>$129</span></p>
            <a href="" class="link-shop-now" >Shop now</a>
        </li>
    </ul>
    <a href="" class="link-compare">Compare All Models</a>
</section>