<section class="eero-system">
    <h2>eero systems</h2>
    <ul>
        <li>
            <span>wi-fi 6</span>
            <p>eero Pro 6</p>
            <h3>The fastest eero yet.</h3>
            <p>Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections.</p>
            <p> Starting at<span>$229</span></p>
            <a href="">Shop now</a>
        </li>
        <li>
            <span>wi-fi 6</span>
            <p>eero 6</p>
            <h3>Experience Wi-Fi 6—the new standard for home wifi.</h3>
            <p>Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet connections.</p>
            <p> Starting at<span>$129</span></p>
            <a href="">Shop now</a>
        </li>
    </ul>
    <a href="">Compare All Models</a>
</section>