<section class="experts">
  <h2 class="experts__title">The experts are in.</h2>
  <p class="experts__after-title">
    Our team is just a (toll-free) phone call, email, or tweet away.
  </p>
  <button class="experts__btn">Help center</button>
  <ul class="experts__list">
    <li class="experts__item">
      <svg class="experts__icon" width="36" height="36">
        <!-- <use href="images/icons.svg#icon-svg1"></use> -->
      </svg>
      <p class="experts__item-title">30-day guarantee</p>
    </li>
    <li class="experts__item">
      <svg class="experts__icon" width="36" height="36">
        <!-- <use href="images/icons.svg#icon-svg2"></use> -->
      </svg>
      <p class="experts__item-title">Free support</p>
    </li>
    <li class="experts__item">
      <svg class="experts__icon" width="36" height="36">
        <!-- <use href="images/icons.svg#icon-svg3"></use> -->
      </svg>
      <p class="experts__item-title">Free shipping</p>
    </li>
    <li class="experts-item">
      <svg class="experts__icon" width="36" height="36">
        <!-- <use href="images/icons.svg#icon-svg4"></use> -->
      </svg>
      <p class="experts__item-title">1-year warranty</p>
    </li>
  </ul>
</section>
