<section class="explore">
  <div class="container">
    <div class="explore__contact">
      <p class="explore__pre-text">Explore eero systems on</p>
      <a href="https://www.amazon.com/" class="explore__link link pointer">
        <img class="explore__img" src="images/amazon.svg" alt="logo Amazon" />
      </a>
      <button type="button" class="explore__shop pointer">Shop now</button>
    </div>
    <div class="explore__info">
      <h2 class="explore__title">More wifi for the devices in your connected home.</h2>
      <p class="explore__text">
        eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s
        efficiency, and reduce network congestion. Say goodbye to dead spots and buffering with a
        connection that doesn’t slow you down, even as you add more devices.
      </p>
      <button type="button" class="explore__button primary-button pointer">
        Find your eero system
      </button>
    </div>
    <div class="explore_bg-image"></div>
    <!-- <img src="images/more_wifi.png" /> -->
  </div>
</section>
