<section class="explore">
    <span>Explore eero systems on</span>
    <a href="">amazon</a>
    <a href="">Shop now</a>
    <h2>More wifi for the devices in your connected home.</h2>
    <p>eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s efficiency, and reduce
        network congestion. Say goodbye to dead spots and buffering with a connection that doesn’t slow you down, even
        as you
        add more devices.</p>
    <a href="">Find your eero system</a>
</section>