<footer>
  <div class="footer__container">
    <div>
      <a href="" class="footer__logo-link"><img src="./images/footer-logo.svg" alt="logo" /></a>
      <ul class="footer__list-links">
        <li><a href="" class="footer__links">Products</a></li>
        <li><a href="" class="footer__links">How it works</a></li>
        <li><a href="" class="footer__links">Technology</a></li>
        <li><a href="" class="footer__links">eero Secure</a></li>
        <li><a href="" class="footer__links">Support</a></li>
        <li><a href="" class="footer__links">Find Your System</a></li>
        <li><a href="" class="footer__links">Cookie preferences</a></li>
      </ul>
    </div>
    <ul class="footer__list-links">
      <li><a href="" class="footer__links">Shop</a></li>
      <li><a href="" class="footer__links">Careers</a></li>
      <li><a href="" class="footer__links">Blog</a></li>
      <li><a href="" class="footer__links">Media room</a></li>
      <li><a href="" class="footer__links">Legal</a></li>
      <li><a href="" class="footer__links">Custom installer</a></li>
      <li><a href="" class="footer__links">Where to buy</a></li>
      <li><a href="" class="footer__links">eero for Service Providers</a></li>
    </ul>
    <form action="" class="subscription">
      <h5>Connect with us</h5>
      <p>For the latest eero news and promotions.</p>
      <div>
        <input type="mail" name="subscription" class="subscription__input" placeholder="Email" />
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</footer>
