<section>
    <h2>Turns out, people love great wifi.</h2>
    <section>
        <div>
        <img src="" alt="">
        </div>
        <section>
        <ul>
            <li>Setup</li>
            <li>Coverage</li>
            <li>Reliability</li>
            <li>Security</li>
        </ul>
        <h2>Setting up our eeros was a breeze thanks to the plug and play installation. 
            The whole experience was life changing
            compared to other routers we’ve used.
        </h2>
        <adress>
            <p>The Rankins</p>
            Seattle, WA | 4 Bedroom house
            3,300 sq. ft.
            </adress>
            <p> 16 connected devices
            Use eero 3-pack
            </p>
        
        <button type="button">Shop all eero systems</button>
        </section>
    </section>
</section>