<section class="great-wifi">
    <h2 class="great-wifi__title">Turns out, people love great wifi.</h2>
    <div class="great-wifi__container container">
        <div class="great-wifi__image">
            <img src="" alt="" width="720" height="488">
        </div>
        <section class="great-wifi__wrap">
            <ul class="great-wifi__menu">
                <li class="great-wifi__item"><a href="" class="great-wifi__link">Setup</a></li>
                <li class="great-wifi__item"><a href="" class="great-wifi__link">Coverage</a></li>
                <li class="great-wifi__item"><a href="" class="great-wifi__link">Reliability</a></li>
                <li class="great-wifi__item"><a href="" class="great-wifi__link">Security</a></li>
            </ul>
            <h3 class="great-wifi__benefit">Setting up our eeros was a breeze thanks to the plug and play installation.
                The whole experience was life changing
                compared to other routers we’ve used.
            </h3>

            <p class="great-wifi__text">The Rankins</p>
            <p class="great-wifi__text">
                Seattle, WA | 4 Bedroom house
                3,300 sq. ft. <br>
                16 connected devices <br>
                Use eero 3-pack
            </p>

            <button type="button" class="button-shop">Shop all eero systems</button>
        </section>
    </div>
</section>