<section class="great-wifi">
    <h2 class="great-wifi__title">Turns out, people love great wifi.</h2>
    <div class="great-wifi__container container">
        <div class="great-wifi__image">
            <img src="./images/great-wifi.jpg" alt="" width="720" height="488">
        </div>
        <section class="great-wifi__wrap">
            <ul class="menu-list list">
                <li class="menu__item"><a href="" class="menu__link link">Setup</a></li>
                <li class="menu__item"><a href="" class="menu__link link">Coverage</a></li>
                <li class="menu__item"><a href="" class="menu__link link">Reliability</a></li>
                <li class="menu__item"><a href="" class="menu__link link">Security</a></li>
            </ul>
            <h3 class="great-wifi__text">Setting up our eeros was a breeze thanks to the plug and play installation.
                The whole experience was life changing
                compared to other routers we’ve used.
            </h3>

            <p>The Rankins</p>
            <p>Seattle, WA | 4 Bedroom house</p>

            <p class="great-wifi__facts">
                3,300 sq. ft. <br>
                16 connected devices <br>
                Use eero 3-pack
            </p>

            <button type="button" class="button-shop">Shop all eero systems</button>
        </section>
    </div>
</section>