<header class="header">
  <div class="container">
    <p class="header__title">Free 2-day shipping | 30-day money back guarantee</p>
    <div class="header__box">
      <nav>
        <a href=""> EERO </a>
        <ul class="header__nav">
          <li class="list">
            <a class="header__subtitle link" href="">Products</a>
          </li>
          <li class="list">
            <a class="header__subtitle link" href="">How it works</a>
          </li>
          <li class="list">
            <a class="header__subtitle link" href="">Technology</a>
          </li>
          <li class="list">
            <a class="header__subtitle link" href="">eero Secure</a>
          </li>
          <li class="list">
            <a class="header__subtitle link" href="">Support</a>
          </li>
          <li class="list">
            <a class="header__subtitle link" href="">Find your system</a>
          </li>
        </ul>
      </nav>
      <a class="header__shop link" href="">Shop</a>
    </div>
  </div>
</header>
