<header class="header">
  <p class="header__title">Free 2-day shipping | 30-day money back guarantee</p>
  <div class="container header__container">
    <nav class="header__nav">
      <a class="header__logo" href="">
        <img src="images/eero-logo.svg" alt="header-logo" />
      </a>
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">Products</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">How it works</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">Technology</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">eero Secure</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">Support</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__subtitle" href="">Find your system</a>
        </li>
      </ul>
    </nav>
    <a class="header__shop" href=""><span class="header__text">Shop</span></a>
  </div>
</header>
