<section class="wifi-potential section">
  <div class="wifi-potential__container container">
    <ul class="wifi-potential__icon-list">
      <li class="wifi-potential__icon-item">
        <svg>
          <use href="images/icons-defs.svg#icon-wi-fi_potential_1" width="80" height="80"></use>
        </svg>
      </li>
      <li class="wifi-potential__icon-item">
        <svg>
          <use href="images/icons-defs.svg#icon-wi-fi_potential_2" width="80" height="80"></use>
        </svg>
      </li>
      <li class="wifi-potential__icon-item">
        <svg>
          <use href="images/icons-defs.svg#icon-wi-fi_potential_3" width="80" height="80"></use>
        </svg>
      </li>
    </ul>
    <h2 class="wifi-potential__heading">Unlock your wifi’s potential.</h2>
    <p class="wifi-potential__description">
      Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect
      compatible devices with Alexa. So you can control certain lights, locks, plugs, and
      more—without the need to buy separate smart home hubs for each.
    </p>
    <a class="wifi-potential__button primary-button" href="">Learn More</a>
    <div class="wifi-potential__squares-wrap">
      <div class="wifi-potential__squares"></div>
      <div class="wifi-potential__squares"></div>
      <div class="wifi-potential__squares"></div>
    </div>
  </div>
</section>
